/*.jar
logs/
*.log
worlds/
/nemisys/nemisys.jar

.gradle/
out/
.idea/
*.ipr
*.iml
*.class
build/

#server files
banned-ips.json
banned-players.json
creativeitems.json
ops.txt
recipes.json
white-list.txt

#plugin files
bStats/
FastAsyncWorldEdit/
